@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("../assets/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}

:root {
  /* COLORS */
  --Body-background: hsl(248, 15%, 11%);
  --Password-generator-background: hsl(248, 10%, 15%);
  --Header: hsl(251, 9%, 53%);
  --Text: hsl(252, 11%, 91%);
  --Strenght-too-weak: hsl(0, 91%, 63%);
  --Strenght-weak: hsl(13, 95%, 66%);
  --Strenght-medium: hsl(42, 91%, 68%);
  --Strenght-strong: hsl(127, 100%, 82%);

  /* FONTS */
  --Bold: "JetBrainsMono-Bold", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Bold);
  background-color: var(--Body-background);
  color: var(--Text);
  width: 100vw;
  height: 100vh;
  padding: calc(67.75px - 1vw) 4.266% 0 4.266%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Header */

.generator-header {
  font-size: 1rem;
  line-height: 1.3125;
  color: var(--Header);
}

/* Generated code bar */

.generated-code-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 15.5px 15px 16px;
  width: 100%;
  background-color: var(--Password-generator-background);
}

.generated-code {
  font-size: 24px;
  line-height: 1.33334;
  color: var(--Text);
}

.copy-btn-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.copied-text {
  display: none;
  font-size: 18px;
  line-height: 1.334;
  color: var(--Strenght-strong);
}

.copy-btn {
  background-color: var(--Password-generator-background);
  border: none;
  height: 20px;
}

.copy-icon {
  width: 17.5px;
}

/* Main container */

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--Password-generator-background);
  padding: 1rem;
}

.range-section {
  display: flex;
  flex-direction: column;
}

.range-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-number {
  font-size: 24px;
  line-height: 1.3333;
  color: var(--Strenght-strong);
}

/* Input range bar */

.range-bar {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 8px;
  height: 28px;
}

/* Chrome */

.range-bar::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--Strenght-strong) 0%,
    var(--Strenght-strong) var(--range-value, 50%),
    var(--Body-background) var(--range-value, 50%),
    var(--Body-background) 100%
  );
  height: 8px;
}

/* Chrome */

.range-bar::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--Text);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: -9px;
}

/* Firefox and IE */

.range-bar::-moz-range-thumb,
.range-bar::-ms-thumb {
  background-color: var(--Text);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.range-bar:focus::-moz-range-thumb,
.range-bar:focus::-ms-thumb {
  border: 2px solid var(--Strenght-strong);
  background-color: var(--Body-background);
}

/* Checkbox section */

.checkbox-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--Text);
  cursor: pointer;
}

.checkbox:checked {
  border: none;
  background-color: var(--Strenght-strong);
  visibility: visible;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 3px;
  display: inherit;
  cursor: pointer;
}

.checkbox-label {
  line-height: 1.3125;
  user-select: none;
  cursor: pointer;
}

/* Strenght gauge container */

.strenght-gauge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  margin-bottom: 16px;
  background-color: var(--Body-background);
}

.strenght-header {
  line-height: 1.3125;
  color: var(--Header);
}

.strenght-level-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.strenght-text {
  visibility: hidden;
  font-size: 18px;
}

.strenght-container {
  display: flex;
  gap: 8px;
}

.strenght {
  width: 10px;
  height: 28px;
  border: 2px solid var(--Text);
}

/* Generate button */

.generate-btn {
  background-color: var(--Strenght-strong);
  color: var(--Body-background);
  font-family: var(--Bold);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  border: none;
  padding: 18px 0 17px 0;
}

.arrow {
  margin-left: 16px;
}

/* Hover Effect */

.range-bar:hover::-webkit-slider-thumb {
  border: 2px solid var(--Strenght-strong);
  background-color: var(--Body-background);
}

.generate-btn:hover {
  background-color: var(--Body-background);
  color: var(--Strenght-strong);
  border: 2px solid var(--Strenght-strong);
  box-sizing: border-box;
}

@media only screen and (min-width: 577px) and (max-width: 1024px) {
  body {
    padding: calc(140.68px - 1vw) 14.843% 0 14.843%;
  }

  /* Header */

  .generator-header {
    font-size: 24px;
    line-height: 1.3334;
    margin-bottom: 16px;
  }

  /* Generated code bar */

  .generated-code-container {
    padding: 19px 32px;
    margin-bottom: 8px;
  }

  .generated-code {
    font-size: 32px;
    line-height: 1.3125;
    color: var(--Text);
  }

  .copy-btn {
    height: 24px;
  }

  .copy-icon {
    width: 21px;
  }

  /* Main container */

  .main-container {
    padding: 24px 32px 32px 32px;
  }

  .range-text-container {
    font-size: 18px;
    line-height: 1.3333;
  }

  .range-number {
    font-size: 32px;
    line-height: 1.3125;
  }

  /* Input range bar */

  .range-bar {
    margin-top: 16px;
  }

  /* Checkbox section */

  .checkbox-section {
    gap: 19px;
  }

  .checkbox-container {
    gap: 24px;
  }

  .checkbox-label {
    font-size: 18px;
    line-height: 24px;
  }

  /* Strenght gauge container */

  .strenght-gauge-container {
    padding: 21px 31.5px 20px 32px;
    margin-bottom: 32px;
  }

  .strenght-header {
    font-size: 18px;
    line-height: 1.3333;
  }

  .strenght-level-container {
    gap: 15.5px;
  }

  .strenght-text {
    font-size: 24px;
    line-height: 1.292;
  }

  /* Generate button */

  .generate-btn {
    font-size: 18px;
    line-height: 1.3334;
    padding: 21px 0 20px 0;
  }

  .arrow {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    padding: calc(147.4px - 1vw) 31.25% 0 31.25%;
  }

  /* Header */

  .generator-header {
    font-size: 24px;
    line-height: 1.3334;
    margin-bottom: 16px;
  }

  /* Generated code bar */

  .generated-code-container {
    padding: 19px 32px;
    margin-bottom: 8px;
  }

  .generated-code {
    font-size: 32px;
    line-height: 1.3125;
    color: var(--Text);
  }

  .copy-btn {
    height: 24px;
  }

  .copy-icon {
    width: 21px;
  }

  /* Main container */

  .main-container {
    padding: 24px 32px 32px 32px;
  }

  .range-text-container {
    font-size: 18px;
    line-height: 1.3333;
  }

  .range-number {
    font-size: 32px;
    line-height: 1.3125;
  }

  /* Input range bar */

  .range-bar {
    margin-top: 16px;
  }

  /* Checkbox section */

  .checkbox-section {
    gap: 19px;
  }

  .checkbox-container {
    gap: 24px;
  }

  .checkbox-label {
    font-size: 18px;
    line-height: 24px;
  }

  /* Strenght gauge container */

  .strenght-gauge-container {
    padding: 21px 31.5px 20px 32px;
    margin-bottom: 32px;
  }

  .strenght-header {
    font-size: 18px;
    line-height: 1.3333;
  }

  .strenght-level-container {
    gap: 15.5px;
  }

  .strenght-text {
    font-size: 24px;
    line-height: 1.292;
  }

  /* Generate button */

  .generate-btn {
    font-size: 18px;
    line-height: 1.3334;
    padding: 21px 0 20px 0;
  }

  .arrow {
    margin-left: 24px;
  }
}
